<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Fantasy Books</h1>
    <ul>
        {% for book in books %}
            <li>
                <img src="{{ url_for('static', filename=book.image) }}" alt="{{ book.title }}" class="book-image">
                <a href="{{ book.url }}">{{ book.title }}</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
